// Font
@font-face {
    font-family: 'Noto Sans';
    src: url("../../fonts/NotoSans/NotoSansSC-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../fonts/NotoSans/NotoSansSC-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Mi Sans Regular';
    src: url("../../fonts/MiSans/MiSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Mi Sans Semibold';
    src: url("../../fonts/MiSans/MiSans-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


// bootstrap 中字体默认变量
$font-family-sans-serif: 'Mi Sans Regular', 'Noto Sans', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: 'Mi Sans Regular', 'Noto Sans', Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: 'Mi Sans Regular', 'Noto Sans', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;